{% extends 'ATMArticleBundle:Common:base.html.twig' %}


{% block atm_article_content %}
    <div class="menu">
        <ul>
            <li>
                <a href="{{ path('atm_article_index') }}" style="margin-bottom:30px;display: inline-block;">Go To Index</a>
            </li>
            <li>
                <a href="{{ path('atm_article_create_article') }}" style="margin-bottom:30px;display: inline-block;">Create Article</a>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Image</th>
            <th>Category Name</th>
            <th>Creation Date</th>
            <th>Publish Date</th>
            <th></th>
        </tr>
        </thead>
        {% for article in articles %}
            <tr>
                <td>
                    {{ article.title }}
                </td>
                <td>
                    <img src="{{ asset(article.thumbnail) }}" style="width: 100px;float: none;">
                </td>
                <td>
                    {{ article.category.name }}
                </td>
                <td>
                    {{ article.creationDate | date('d-m-Y') }}
                </td>
                <td>
                    {{ article.publishDate | date('d-m-Y') }}
                </td>
                <td>
                    <a href="{{ path('atm_article_edit_article',{ 'articleId': article.id }) }}" title="Edit"><i class="fa fa-edit"></i></a>
                    <a href="{{ path('atm_article_delete_article',{ 'articleId': article.id }) }}" title="Delete"><i class="fa fa-times-circle-o"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock atm_article_content %}