{% extends 'ATMArticleBundle:Common:base.html.twig' %}

{% block atm_article_content %}
    <div class="errors">
        {% for error in errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endblock atm_article_content %}