{% extends 'ATMArticleBundle:Common:base.html.twig' %}

{% block atm_article_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmarticle/css/jquery-ui.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmarticle/css/jquery-ui.theme.min.css') }}" type="text/css"/>
{% endblock atm_article_stylesheets %}

{% block atm_article_content %}
    <div class="menu">
        <ul>
            <li>
                <a href="{{ path('atm_article_index') }}" style="margin-bottom:30px;display: inline-block;">Go To Index</a>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
    <form action="{{ path('atm_article_edit_article',{ 'articleId':article.id }) }}" method="post" class="wide" enctype="multipart/form-data">
        <div class="half">
            <fieldset>
                <legend>
                    Title
                </legend>
                {{ form_widget(form.title) }}
            </fieldset>
            <br>
            <fieldset>
                <legend>
                    Summary
                </legend>
                {{ form_widget(form.summary,{'attr':{ 'placeholder':'summary' }}) }}
            </fieldset>
            <br>
            <fieldset>
                <legend>
                    Publish date
                </legend>

                {{ form_widget(form.publishDate) }}
            </fieldset>
            {% if useCategories %}
                <fieldset>
                    <legend>
                        Category
                        <div class="selectC" style="position: relative;top: 8px;left: 8px;">
                            {{ form_widget(form.category) }}
                        </div>
                    </legend>
                </fieldset>
            {% endif %}
        </div>
        <div class="half">
            <img src="{{ asset(article.thumbnail) }}" id="imgPreview">
            <input type="file" name="flThumbnail" id="flThumbnail" style="margin-top: 20px;" required>
        </div>
        <div class="wide">
            {{ form_widget(form.body) }}
        </div>
        <div class="clear"></div>
        {{ form_rest(form) }}

        <input type="submit" class="but blue" value="Save">
    </form>
    {% include 'ATMArticleBundle:Article:froalaEditorJs.html.twig' with { 'selector':'#atmarticle_bundle_article_type_body','froala_key':froala_key } %}
{% endblock atm_article_content %}

{% block atm_article_javascripts %}
    <script src="{{ asset('bundles/atmarticle/js/jquery-ui.min.1121.js') }}"></script>
    <script>
        $('#atmarticle_bundle_article_type_publishDate').datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true
        });
        $('#flThumbnail').change(function(){
            var currentInput = $(this);
            var file = currentInput[0].files[0];

            var reader = new FileReader();
            reader.onload = function(e){
                $('#imgPreview').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        });
    </script>
{% endblock atm_article_javascripts %}