{% extends 'ATMArticleBundle:Common:base.html.twig' %}

{% block atm_article_content %}
    <div class="menu">
        <ul>
            <li><a href="{{ path('atm_article_index') }}" style="margin-bottom:30px;display: inline-block;">Go To Index</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="errors">
        {% for error in errors %}
            {{ error }}
        {% endfor %}
    </div>
    <form action="{{ path('atm_article_create_category') }}" method="post">
        {{ form_widget(form.name) }}
        <div class="half">
            <img src="{{ asset('bundles/atmarticle/images/image-placeholder.png') }}" id="imgPreview">
            <input type="file" name="flThumbnail" id="flThumbnail" style="margin-top: 20px;" required>
        </div>
        {{ form_rest(form) }}

        <input type="submit" class="but blue" value="save">
    </form>
{% endblock atm_article_content %}