{% extends 'ATMArticleBundle:Common:base.html.twig' %}

{% block atm_article_content %}
    <div class="menu">
        <ul>
            <li>
                <a href="{{ path('atm_article_show_categories') }}">All Categories</a>
            </li>
            <li>
                <a href="{{ path('atm_article_show_articles') }}">All Articles</a>
            </li>
        </ul>
    </div>
{% endblock atm_article_content %}