*{margin:0;padding:0}
html,body{height:100%}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none}
body{font:15px/24px Quicksand, sans-serif;color:#000;background:#f9f6f6;cursor:default;text-align:center}
body.newTour,textarea,input[type='text']{font:15px/24px "Quicksand", sans-serif}
body.white{background:#FFF}
table{border-collapse:separate;border-spacing:0}
caption,th,td{text-align:left;font-weight:normal}
table,td,th{vertical-align:middle}
blockquote::before,blockquote::after,q::before,q::after{content:""}
blockquote,q{quotes:"" ""}
a img, button{outline:none;border:0;background:none}
a{outline:0 none;text-decoration:none;color:#000}
a *{cursor:pointer}
a:focus,a:hover{text-decoration:none;outline:0 none;cursor:pointer}
.clear{clear:both}
.over{overflow:hidden;height:0}
ul,li,ol,li,b,img,p,a,h1,h2,h3,h4,h5{float:left;display:inline-block;text-align:left}
input,textarea{display:inline-block;text-align:left}
[data-sr]{visibility:hidden}
.fa-heart, .red{color:#ff558f}
*, *::after, *::before, *:hover{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
select{-webkit-appearance:none;-moz-appearance:none;text-overflow:'';text-indent:1px}
.sorting select::-ms-expand{display:none}
.sorting select{-webkit-appearance:none;-moz-appearance:none;text-overflow:'';text-indent:1px}
.small{font-size:0.8rem !important}
.right{float:right}
.left{float:left}
.center{text-align:center}
.x2{font-size:1.3rem}
.x3{font-size:2.5rem}
.flex{display:flex;align-items:center;justify-content:space-between}
.b{font-family:QuicksandBold, Arial, sans-serif}
.latobold{font-family:LatoBold, Arial, sans-serif}

.selectC{position:relative;display:inline-block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-khtml-border-radius:4px;border:1px solid #ccc;width:auto;font:500 12px/22px Open Sans, Arial, sans-serif;cursor:pointer;position:relative}
.selectC select{display:inline-block;border:0;background:none;color:#000;padding:6px 37px 7px 8px;z-index:2;position:relative;font-size:12px;cursor:pointer;line-height:14px;white-space:nowrap;font-family:"Quicksand", "Open Sans", sans-serif}
.selectC::before{z-index:1;content:"";width:25px;height:27px;position:absolute;right:0;top:0;background:url(../images/caret_down.svg) no-repeat center center;border-left:1px solid rgba(0, 0, 0, 0.31);background-size:12px}

.content        {width:100%;max-width:1300px;min-height:100%}
.wide 	        {width:100%}
.narrow	        {width:95%;max-width:1000px;margin:0 auto}
.half           {width:50%;float:left}
.threequarter   {width:75%;float:left}
.quarter        {width:25%;float:left}
.third			{width:33.33%;float:left}
.twothird		{width:66.66%;float:left}
.smallfifth     {width:20%;float:left}
.longfifth      {width:80%;float:left}
.fifth			{width:20%;float:left}

a.but, input.but{background: #e8e8e8;padding: 6px 10px;border-radius: 7px;color: #000;border-bottom: 1px solid rgba(0, 0, 0, 0.2);font-size: 1rem;cursor: pointer}
a.but.blue, input.but.blue{background:#2196f3;color:#FFF}
input.but.red, a.but.red{background: #ff390d !important;color:#FFF}
a.but.following{border:2px solid #ff558f;background:none;color:#ff558f;font-size:13px}
a.but.following:hover{background:#ff558f;color:#FFF}
.but.dark{background:#777 !important}
.but.dark:hover{background:#777676}
a.but.inactive{background: #a9a9a9;border: 0;color: #000}


.inner {float:none;width:100%;margin: 0 auto 0;position:relative;display:inline-block;padding: 0;z-index: 1;max-width: 1100px}

.datePicker{float:left;margin: 0 0 20px;border: 1px solid #b3a5a5;}
.datePicker>.half{margin:20px 0;padding:20px 0}
.datePicker>.half:last-child{border-left:2px solid #8e8e8e}
.datePicker .selectC{background:#f7f5f3}
.datePicker .selectC:hover{background:#FFF}
.butPeriod{background:#f7f5f3;border:1px solid #d0d0d0;padding:3px 10px;border-radius:5px;margin:0 1%;float:none;display:inline-block}
.butPeriod:hover{background:#FFF}
.butPeriod.active{background:#333;color:#FFF}
.centerBut a{float:none;margin:14px 0 0;font-size:14px;border:1px solid #bbb;color:#333;padding:1px 10px 0}
.centerBut a:hover{background:#FFF}
h2.block_title{margin:0 0 11px;padding:3px 7px;font:17px/19px 'QuicksandBold', sans-serif;float: left;width: 100%;}
.statsTitle{border-bottom:2px solid #333}
.statsTitle em{font-family:"Quicksand", "Open Sans", sans-serif}
.statsTitle>div:first-child{border-right:1px solid #ccc;float:left;padding:0 15px 0 0;margin:0 15px 10px 0}
.statsTitle>div{float:left}
.statsTitle>.right{font-size:18px;position:relative;bottom:0;margin-top:20px}
h2.block_title span{padding:0 7px;color:#000000;text-transform:capitalize}
.usersSelect{}
.usersSelect span{}

/*Navigation*/
.navigation{float:left;margin:20px 0 0;width:100%;text-align:center}
.thumbs .navigation{width:100%;margin:0}
.pagination{display:inline-block;text-align:center;margin:0 auto}
.pagination span{float:left;display:inline-block;font:14px/33px "Quicksand",serif;margin:0 4px 0 0;overflow:hidden;border-radius :6px;border:1px solid #ccc;padding:0;width:35px;text-align:center}
.pagination span.last a{padding:0 10px}
.pagination span a{color:#000;padding:0;background:#f7f5f3;width:100%;text-align:center;float:left}
.pagination span a:hover{color:#000032;background:#ffffff}
.pagination span a.highlight, .pagination span a.highlight:hover, .pagination span.current{color:#000000;cursor:default;background:rgb(196, 229, 255)}

/*Menu*/
.atm_article .menu{margin-bottom: 10px;}
.atm_article .menu ul li{margin-right: 15px;}
.atm_article .menu ul li a{display: block;width: 100%;font-weight: bold;}

.atm_article .body h1{width:100%;text-align:center;margin-bottom:20px;font-size:20px;font-weight:bold;float: none;}
.atm_article .body{background-color: #fff;border: 1px solid #bdbdbd;padding: 10px;box-sizing: border-box;margin: 30px auto;}
.atm_article .body fieldset legend{font-weight: bold;width: 100%;text-align: left;margin-bottom: 10px;}
.atm_article .body form{margin: 10px auto;float: none;padding:10px;border-radius:5px;border: 1px solid #bbb8b8;}
.atm_article .body form img{max-width: 100%;float: none;margin: 0 auto;}
.atm_article .body #frmCompetition img{max-width:100%;display:inline-block;margin:0 auto;float:none}
.atm_article .body form h1,.promotools .body .advertisements h1{width:100%;text-align: center;font-size: 20px;margin-bottom: 20px;text-decoration: underline}
.atm_article .body form input[type="text"], .promotools .body form textarea{border: 1px solid #acacac;padding: 5px;box-sizing: border-box;border-radius: 5px;width:100%;}
.atm_article .body form textarea{resize: vertical;min-height: 150px;width: 100%;border-radius: 5px;padding: 5px;}
.atm_article .body form input[type="submit"]{display: block;margin: 20px auto;border: none;}
.atm_article .body form fieldset{margin-bottom: 20px;}

.atm_article table{width: 100%;}
.atm_article table thead tr th{text-align: center;font-weight: bold;}
.atm_article table tbody tr{background-color: #fff;}
.atm_article table tbody tr:nth-child(2n){background-color: #7d7b7b38;}
.atm_article table tbody tr td{padding: 5px;text-align: center;}
.atm_article table tbody tr td a{display: inline-block;margin-right: 30px;font-size:20px}